<!-- <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico"> -->

    <!--Google Login-->
    <!-- <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="739725862362-e13n8p6osa8h0d1q0kv0hh7fs6050b72.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body> -->
{% extends 'base.html' %}
{% block content %}
<!--Breadcrumb Tow Start-->
<div class="breadcrumb-tow mb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-title">
                    <h1>{{ _('Login') }}</h1>
                </div>
                <div class="breadcrumb-content breadcrumb-content-tow">
                    <ul>
                        <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                        <li class="active">{{ _('Login') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Tow End-->
<!--Login Area Start-->
<div class="login-register-area mb-80">
    <div class="container">
        <div class="row">
            <!--Login Form Start-->
            <div class="col-md-6 col-sm-6 login-linear">
                <div>
                <h2>{{ _('NEW TO OUR SHOP') }}?</h2>
                <p>{{ _('ALWAYS CHASING FOR BETTER MELODY AND TONE') }}</p>
                <a class="btn_1" href="{{ url_for('auth.register') }}">{{ _('Create an Account') }}</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="customer-login-register">
                    <div class="form-login-title">
                        <h2>{{ _('Login') }}</h2>
                    </div>
                    <div class="login-form">
                        <form action="" method="post" novalidate="novalidate">
                            {{ form.hidden_tag() }}
                            <div class="form-fild">
                                <p><label>{{ _('Email') }} <span class="required">*</span></label></p>
                                {{ form.email(class='form-control', placeholder='Email') }}
                            </div>
                            <div class="form-fild">
                                <p><label>{{ _('Password') }} <span class="required">*</span></label></p>
                                {{ form.password(class='form-control', placeholder='Password') }}
                            </div>
                            <div class="form-group" style="margin-top: 20px">
                                <span>{{ form.remember.label() }}</span>
                                <span>{{ form.remember(class="checkbox-input") }}</span>
                                <div class="login-submit" style="margin: 20px 0 10px;">
                                    {{ form.submit(class='btn_2') }}
                                </div>
                                <div id="g_id_onload"
                                     data-client_id="739725862362-gg17pcjelmcm10ull208cjgljnp2taau.apps.googleusercontent.com"
                                     data-callback="onSignIn">
                                </div>
                                <div class="g_id_signin" data-type="standard" style="float: left"></div>
{#                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="float: left"></div>#}
                                <div class="form-fild" align="right">
                                    <a href="{{ url_for('auth.password_reset_request') }}">{{ _('Forget password') }}?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Login Form End-->
        </div>
    </div>
</div>

<script>
    {#function onSignIn(googleUser) {#}
    {#    // Useful data for your client-side scripts:#}
    {#    var profile = googleUser.getBasicProfile();#}
    {#    var id_token = googleUser.getAuthResponse().id_token;#}
    {#    // alert("[SIGNIN]: Email: " + profile.getEmail() + "\n" + "[SIGNIN]: Name: " + profile.getName());#}
    {#    $.post(#}
    {#        "{{ url_for('auth.login2') }}",#}
    {#        {name: profile.getName(), token: id_token},#}
    {#        function (data) {#}
    {#            window.location.href = "{{ url_for('main.index') }}"#}
    {#        }#}
    {#    )#}
    {# }#}

    function onSignIn(response) {
        {#alert(response.credential);#}

        // Useful data for your client-side scripts:
        var token = response.credential;
        $.post(
            "{{ url_for('auth.login2') }}",
            {token: token},
            function (data) {
                window.location.href = "{{ url_for('main.index') }}"
            }
        )
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          alert("[SIGNIN]:");
        });
    }
</script>
<!--Login Area End-->
{% endblock %}
<!-- </body>
</html> -->