<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<!--Breadcrumb Tow Start-->
<div class="breadcrumb-tow mb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-title">
                    <h1>{{ _('Reset Password') }}</h1>
                </div>
                <div class="breadcrumb-content breadcrumb-content-tow">
                    <ul>
                        <li><a href="../index.html">{{ _('Home') }}</a></li>
                        <li class="active">{{ _('Reset Password') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Tow End-->

<div class="login-register-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 login-linear">
                <div>
                <h2>{{ _('NEW TO OUR SHOP') }}?</h2>
                <p>{{ _('ALWAYS CHASING FOR BETTER MELODY AND TONE') }}</p>
                <a class="btn_1" href="{{ url_for('auth.register') }}">{{ _('Create an Account') }}</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="customer-login-register">
                    <div class="form-login-title">
                        <h2>{{ _('Reset Password') }}</h2>
                    </div>
                    <div class="login-form">
                        <form action="" method="post" novalidate="novalidate">
                            {{ form.hidden_tag() }}
                            <div class="form-fild">
                                <p><label>{{ _('Password') }} <span class="required">*</span></label></p>
                                {{ form.password(class='form-control', placeholder='Password') }}
                                {% for error in form.password.errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-fild">
                                <p><label>{{ _('Password Confirm') }} <span class="required">*</span></label></p>
                                {{ form.password_check(class='form-control', placeholder='Password Confirmation') }}
                            </div>
                            <div class="form-group" style="margin-top: 20px">
                                <div class="login-submit" style="margin: 20px 0 10px;">
                                    {{ form.submit(class='btn_2') }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>