{% extends 'blog-base.html' %}

{% block content %}
		<div id="main" class="content">

			<div class="container">

				<h1 class="page-title">{{ _('Search by') }} &quot;{{ s }}&quot;</h1>

				<p class="Searchmeta">{{ _('total') }} {{ blogs|length }} {{ _('passages') }}</p>

                {% for blog in blogs %}

				<div class="posts-list js-posts">
					<div class="archive-post">
						<div class="type">
							<div class="mask"><i class="iconfont">&#xe603;</i></div>
						</div>
						<h2 class="archive-title" style="color: #">
					<span>
					<a href="{{ url_for('main.blog_detail', p=blog.id) }}">{{ blog.title }}</a>
					</span>
					<div class="post-time">{{ blog.timestamp.replace(microsecond=0) }}</div>
				</h2>
						<div class="post-category">
							<a href="#" rel="category tag">{{ blog.author.username }}</a>
						</div>
					</div>
				</div>

                {% endfor %}

				<div class="mt+">
					<div class="pagination js-pagination">

						<div class="js-next pagination__load"></div>

					</div>
				</div>

			</div>
		</div>
{% endblock %}